{%extends "layout.html" %}
{%block body%}


        <!-- Page Header-->
        <header class="masthead" style="background-image: url('  {{ url_for('static', filename = 'assets/img/home-bg.jpg' ) }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <h1>Basic Actions</h1>
                <a href="/dashboard" ><button type="button" class="btn btn-success">Dashboard Home</button></a></td>
                <a href="/logout" ><button type="button" class="btn btn-danger">LOGOUT</button></a></td>
                <hr>
                <h1>ADD/Edit Posts</h1>
<form name="sentMessage" data-sb-form-api-token="API_TOKEN" id="contactForm" action = "" method="POST" novalidate>
                             <div class="control-group">
                                <div class="form-floating">
                                    <input class="form-control" id="title" name= "title" type="text" placeholder="Enter Title..." data-sb-validations="required", value="{{post.title}}"/>
                                    
                                    <label for="title">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A Title is required </div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="slug" type="text" name= "slug" placeholder="Enter slug like 'post-slug' " data-sb-validations="required,email" , value="{{post.slug}}" />
                                    
                                    <label for="slug">Slug</label>
                                    <div class="invalid-feedback" data-sb-feedback="slug:required">Slug is required</div>
                                   
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="content" type="text" name="content" placeholder="Please enter some content..." data-sb-validations="required", value="{{post.content}}"/> 
                                    
                                    <label for="content">Content</label>
                                    <div class="invalid-feedback" data-sb-feedback="content:required">Enter some content</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="tagline" type="text" name="tagline" placeholder="Enter Tagline for your post..." data-sb-validations="required", value="{{post.tagline}}" />
                                    
                                    <label for="tagline">Tagline</label>
                                   <!--  <div class="invalid-feedback" data-sb-feedback="phone:required">Please Enter some content</div> -->
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="img_file" type="text" name="img_file" placeholder="Enter Image name..." data-sb-validations="required"  , value="{{post.img_file}}"/>

                                    <label for="img_file">Img_name</label>
                                    <div class="invalid-feedback" data-sb-feedback="img_file:required">Enter some image name</div>
                                </div>
                                
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
                            </form>
                
                </div>
            </div>
        </div>

         <!-- Footer-->
        
        {% endblock %}
